.footer {
  display: flex;
  align-items: center;
}

.footer__delete {
  margin-left: auto;
  padding: 0 10px;
  line-height: 26px;
  background-color: red;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
